{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Ticket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Ticket Details:</h2>
    <p><strong>Time of Raising Issue:</strong> {{ ticket.time_of_creation }}</p>
    <p><strong>Issue Title:</strong> {{ ticket.issue_title }}</p>
    <p><strong>Team Name:</strong> {{ ticket.team_name }}</p>
    <p><strong>Table Number:</strong> {{ ticket.table_number }}</p>
    <p><strong>Venue:</strong> {{ ticket.venue }}</p>

    <form action="{% url 'close_ticket' ticket.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Close Ticket">
    </form>

    <form action="{% url 'pass_ticket' ticket.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Pass Ticket">
    </form>
</body>
</html>
